# Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Pre Processing

In [2]:
raw_mail = pd.read_csv('mail_data.csv')

In [3]:
raw_mail

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
#Replace null value with string
mail_data = raw_mail.where((pd.notnull(raw_mail)),'')

In [5]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
mail_data.shape

(5572, 2)

In [7]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [8]:
# label ham as 1, spam as 0
mail_data.loc[mail_data['Category']== 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category']== 'ham', 'Category',] = 1

Separating the variables

In [9]:
X = mail_data['Message']
y = mail_data['Category']

In [10]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [11]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

Feature Extraction

In [13]:
#transform text data to feature vectors that can be used as inputs
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

Training the model

In [14]:
model = LogisticRegression()

In [15]:
model.fit(X_train_feature, y_train)

LogisticRegression()

Evaluating

In [16]:
prediction_on_training_data = model.predict(X_train_feature)
accuracy_on_training_data = accuracy_score(y_train, prediction_on_training_data)

In [17]:
accuracy_on_training_data

0.9670181736594121

In [18]:
prediction_on_test_data = model.predict(X_test_feature)
accuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

In [19]:
accuracy_on_test_data

0.9659192825112107

In [20]:
#input mail

input_mail = ["SplashMobile: Choose from 1000s of gr8 tones each wk! This is a subscrition service with weekly tones costing 300p. U have one credit - kick back and ENJOY"]
input_data_feature = feature_extraction.transform(input_mail)

#making predictions
prediction = model.predict(input_data_feature)

In [21]:
if(prediction[0]==1):
    print("Ham Mail")
else:
    print("spam")

spam